@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Zodiac";
    font-weight: 300;
    src: local("Zodiac"), url(./assets/fonts/Zodiak-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: "Zodiac";
    font-weight: 700;
    src: local("Zodiac"), url(./assets/fonts/Zodiak-Bold.woff2) format("woff");
  }
  @font-face {
    font-family: "Zodiac";
    font-weight: 800;
    src: local("Zodiac"), url(./assets/fonts/Zodiak-Extrabold.woff2) format("woff");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: local("Satoshi"), url(./assets/fonts/Satoshi-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: local("Satoshi"), url(./assets/fonts/Satoshi-Bold.woff2) format("woff");
  }
}

#get_started_button img {
  transition: all 0.2s ease-in-out;
}

#get_started_button:hover img {
  transform: translateX(10px);
}
